{{#form-wrapper}}
  {{#form-controls legend='Add new book into system'}}

	{{input-group
		property='isbn'
	}}
	
	{{input-group
		property='numberOfCopies'
	}}

    {{input-group
      	property='title'
    }}
	
	{{input-group
		property='author'
	}}

    {{input-group
      property='description'
      type='textarea'
    }}
  {{/form-controls}}
  
  {{form-submission
    saveText='SaveBook'
	cancelText='Cancel book adding'
  }}

{{/form-wrapper}}
